.container {

    margin: auto;
    padding-left: 50px;
    display: grid;
    width: 75%;
    height: 100%;
    grid-template-areas: "logo-area user-area"
    "navbar content"
    "footer footer";
    grid-template-columns: 240px 32fr 2fr;
    grid-template-rows: 80px 500% 50%;
}
.container > div {
    border: 1px dashed #888;
}

.logo-area {
    grid-area: logo-area;
    text-align: center;
    line-height: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-area {
    grid-area: user-area;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}