.container {
    margin: auto;
    padding-left: 50px;
    display: grid;
    width: 75%;
    height: 100%;
    grid-template-areas: "logo-area user-area"
    "navbar content"
    "footer footer";
    grid-template-columns: 350px 32fr 2fr;
    grid-template-rows: 1fr 8fr 1fr;
}
.container > div {
    /*border: 1px dashed #888;*/
}

.logo-area-container {
    background-color: #252525;
    margin-left: 10px;
    margin-right: 5px;
    grid-area: logo-area;
    text-align: center;
    line-height: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-area-container {
    background-color: #252525;
    margin-left: 10px;
    grid-area: user-area;
}
.navbar {
    background-color: #252525;
    margin: 15px 5px 5px 10px;
    grid-area: navbar;
    justify-content: center;
}

.content {
    background-color: #252525;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 15px;
}

.user-area {
    display: flex;
    background-color: #252525;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: left;
    align-items: center;
}

.content_container {
    display: block;
    overflow: auto;
    max-height: 610px;
    background-color: #252525;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    grid-area: content;
    text-align: left;
}

.precontent_container {
    overflow: auto;
    max-height: 610px;
    min-height: 610px;
    background-color: #252525;
    padding-left: -10px;
    margin-left: -10px;
    margin-top: -15px;
    margin-bottom: -5px;
    grid-area: content;
    text-align: left;
}

.footer {
    background-color: #252525;
    margin-left: 10px;
    margin-top: 12px;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}