.leaderboard_table {
    font-size: 12pt;
    table-layout: fixed;
}

.rank {
    width: 50px;
}

.username {
    width: 260px;
}

.accuracy {
    width: 75px;
}

.playcount {
    width: 80px;
}

.score {
    width: 110px;
}

.countss {
    width: 55px;
}

.counts {
    width: 55px;
}

.counta {
    width: 55px;
}