<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'shared/head.twig' %}

    <title>oldsu!stream - Replace this you dumbass</title>

    <link rel="stylesheet" href="./static/global.css">
    <link rel="stylesheet" href="./static/grid.css">

</head>
<body>
{% embed 'shared/layout.twig' %}
    {% block content %}

    {% endblock %}
{% endembed %}
</body>
</html>