<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'shared/head.twig' %}

    <title>oldsu!stream - Replace this you dumbass</title>

</head>
<body>
{% embed 'shared/layout.twig' %}
    {% block content %}
        
    {% endblock %}
{% endembed %}
</body>
</html>