<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'shared/head.twig' %}

    <title>oldsu!stream - Main Page</title>
</head>
<body>
    {% embed 'shared/layout.twig' %}
        {% block content %}
            Hi owo
        {% endblock %}
    {% endembed %}
</body>
</html>