<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="static/global.css">
    <link rel="stylesheet" href="static/grid.css">

    <title>oldsu!stream - Main Page</title>
</head>
<body>
    <div class="container">
        <div class="logo-area">
            <b style="font-size: 24pt">oldsu!stream</b>
        </div>
        <div class="user-area">header-1</div>
        <div class="navbar">left</div>
        <div class="content">main</div>
        <div class="footer">a-A6nB7</div>
    </div>
</body>
</html>