<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'shared/head.twig' %}

    <title>oldsu!stream - Mapset Information</title>

    <link rel="stylesheet" href="./static/mapset.css">

</head>
<body>
{% embed 'shared/layout.twig' %}
    {% block content %}
        <div class="background-image"></div>
        <div class="wrap">
            <div class="metadata">
                test
            </div>
        </div>
    {% endblock %}
{% endembed %}
</body>
</html>