<div class="container">
    <a href="/">
        <div class="logo-area-container" style="cursor: pointer">
            <b style="font-size: 24pt">oldsu!stream</b>
        </div>
    </a>
    {% include 'shared/user-area.twig' %}

    {% include 'shared/navbar.twig' %}

    <div class="content_container">
        <div class="precontent_container">
            <div class="content">
                {% block content %}
                    Fill content here...
                {% endblock %}
            </div>
        </div>
    </div>

    {% include 'shared/footer.twig' %}
</div>